{% extends "::base.html.twig" %}

{% block title %}Liste des Annonces{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <style>
        #page {
            padding-top: 75px;
        }

        body {
            background-color: hsl(45, 19%, 82%);
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #0f0f0f;
            color: #ffcc00;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<h1 class="text-primary">Bienvenue sur liste des annonces</h1>
    <div class="list-group-item">
        <ul>
            {% for annonce in annonces %}
                <li>{{ annonce.titre }}<br>
                    {{ annonce.texte }}<br>
                    {{ annonce.prix }}<br>
                    par {{ annonce.annonceur.prenom }} {{ annonce.annonceur.nom }}
                </li>
            {% endfor %}
        </ul></div>


{% endblock %}
